@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center"> 
    <p>Discovery URL: <a href="/.well-known/openid-configuration">openid configuration</a>.</p>
    <p>Token Authorization: <a href="/token">Click</a>.</p>
</div>
